/* HEADER */
header {
    background: black;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* HERO SECTION */
.hero {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 100px 20px; /* tall section */
}

.hero h2 {
  font-size: 2.5em;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.hero .btn {
  display: inline-block;
  background: #ff6600;
  color: #fff;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 5px;
  font-weight: bold;
}

.hero .btn:hover {
  background: #e55b00;
}

/* MAIN CONTENT */
main {
  max-width: 900px;
  margin: 50px auto;
  padding: 0 20px;
}

main h3 {
  margin-bottom: 20px;
}

main ol {
  padding-left: 20px;
}
